body {
  background-image: url("pexels-veerasak-piyawatanakul-1170184.jpg");
  background-size:cover;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: white;
}

button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn{
    background-color: darkred;
}

#save-btn{
    background-color: darkgreen;
}

.span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}